<form #formPesquisa="ngForm" (ngSubmit)="toSearch()">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" id="search-bar">
    <input
      type="text"
      nzSize="large"
      nz-input
      placeholder="Pesquisar... Ex.: Ana"
      name="nome"
      autocomplete="off"
      [(ngModel)]="nomeBuscar"
      (ngModelChange)="toSearch()"
    />

    <ng-template #suffixIconButton>
      <button type="submit" nz-button nzType="primary" nzSearch nzSize="large">
        <nz-icon nzType="search" />
      </button>
    </ng-template>
  </nz-input-group>
</form>

<nz-table
  #tabelaClientes
  [nzData]="listaClientes"
  [nzNoResult]="noDataTemplate"
  [nzPageSize]="6"
  nzPaginationPosition="top"
>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Data de Nascimento</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of tabelaClientes.data">
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email }}</td>
      <td>
        {{
          cliente.dataNascimento ? formatarData(cliente.dataNascimento) : null
        }}
      </td>
      <td>{{ cliente.municipio }}</td>
      <td>{{ cliente.estado }}</td>
      <td class="actions">
        <a (click)="cliente.id ? toEdit(cliente.id) : null"> Editar </a>

        <nz-divider nzType="vertical" />

        @if(clienteExcluir?.id === cliente.id) {
        <a (click)="delete()"> Confirmar </a>
        } @else {
        <a (click)="toDelete(cliente)"> Excluir </a>
        }
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #noDataTemplate>
  <div style="text-align: center; padding: 20px">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>Nenhum cliente encontrado!</p>
  </div>
</ng-template>
