<form
  class="mx-auto w-[60%] sm:w-[50%] md:w-[40%] lg:w-[30%] xl:w-[20%]"
  #formPesquisa="ngForm"
  (ngSubmit)="toSearch()"
>
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" id="search-bar">
    <input
      type="text"
      class="h-[32px] rounded-md text-base"
      nzSize="small"
      nz-input
      placeholder="Pesquisar... Ex.: Ana"
      name="nome"
      autocomplete="off"
      [(ngModel)]="nomeBuscar"
      (ngModelChange)="toSearch()"
    />

    <ng-template #suffixIconButton>
      <button
        type="submit"
        nz-button
        class="h-[32px]"
        nzType="primary"
        nzSearch
        nzSize="default"
      >
        <nz-icon nzType="search" />
      </button>
    </ng-template>
  </nz-input-group>
</form>

@if (!listaClientes.length) {
  <div id="emptySpace" class="h-16"></div>
}

<nz-table
  class="w-full table-fixed overflow-hidden whitespace-nowrap"
  #tabelaClientes
  [nzData]="listaClientes"
  [nzNoResult]="noDataTemplate"
  [nzPageSize]="6"
  nzPaginationPosition="top"
  nzShowPagination="true"
  nzpagina
>
  <thead>
    <tr>
      <th class="truncate whitespace-nowrap">Nome</th>
      <th class="hidden truncate whitespace-nowrap sm:table-cell">E-mail</th>
      <th class="hidden lg:table-cell">Data de Nascimento</th>
      <th class="hidden truncate whitespace-nowrap md:table-cell">Cidade</th>
      <th class="hidden sm:table-cell">Estado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of tabelaClientes.data">
      <td class="max-w-20 truncate whitespace-nowrap sm:max-w-24">
        {{ cliente.nome }}
      </td>
      <td class="hidden max-w-24 truncate whitespace-nowrap sm:table-cell">
        {{ cliente.email }}
      </td>
      <td class="hidden w-8 truncate whitespace-nowrap lg:table-cell">
        {{
          cliente.dataNascimento ? formatarData(cliente.dataNascimento) : null
        }}
      </td>
      <td class="hidden max-w-8 truncate whitespace-nowrap md:table-cell">
        {{ cliente.municipio }}
      </td>
      <td class="hidden w-8 sm:table-cell">{{ cliente.estado }}</td>
      <td class="w-[10%] lg:w-44">
        <!-- mostrar mais -->
        <button class="lg:hidden" (click)="showMore(cliente)">
          <nz-icon nzType="file-search" nzTheme="outline" />
        </button>

        <nz-divider nzType="vertical" class="mx-[15px] lg:hidden" />

        <!-- editar -->
        <a (click)="cliente.id && toEdit(cliente.id!)" class="hidden lg:inline">
          Editar
        </a>

        <a (click)="cliente.id && toEdit(cliente.id!)" class="lg:hidden"
          ><nz-icon nzType="edit" nzTheme="outline"
        /></a>

        <nz-divider nzType="vertical" class="mx-[15px]" />

        <!-- excluir / confirmar -->
        @if (clienteExcluir?.id === cliente.id) {
          <!-- Texto -->
          <button (click)="delete()" class="hidden lg:inline">Confirmar</button>
          <!-- Ícone -->
          <button (click)="delete()" class="lg:hidden">
            <nz-icon nzType="close" nzTheme="outline" />
          </button>
        } @else {
          <!-- Texto -->
          <button (click)="toDelete(cliente)" class="hidden lg:inline">
            Excluir
          </button>
          <!-- Íxone -->
          <button (click)="toDelete(cliente)" class="lg:hidden">
            <nz-icon nzType="delete" nzTheme="outline" />
          </button>
        }
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #noDataTemplate>
  <div style="text-align: center; padding: 20px">
    <nz-empty [nzNotFoundContent]="null"></nz-empty>
    <p>Nenhum cliente encontrado!</p>
  </div>
</ng-template>
