<nz-header
  id="header"
  class="flex h-16 items-center bg-white px-6 md:px-8 lg:px-12"
>
  <h1
    id="logo"
    class="cursor-default text-3xl tracking-[-1px] text-[#1890ff] lg:text-4xl"
  >
    Cadastro de Clientes
  </h1>

  <!-- Espaço em branco -->
  <div id="spacer" style="flex: 1"></div>

  <!-- Hamburger Menu -->
  <button
    class="!w-fit text-[#1890ff] lg:hidden"
    nz-button
    nzType="text"
    nzSize="large"
    (click)="openDrawer()"
  >
    <nz-icon nzType="menu" nzTheme="outline" />
  </button>

  <!-- Drawer -->
  <app-drawer
    [isVisible]="isDrawerVisible"
    (pleaseRestaureClients)="restaure()"
    (pleaseCloseDrawer)="closeDrawer()"
  />

  <!-- Default Menu -->
  <nav id="navBar" class="hidden items-center md:hidden lg:!flex">
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" class="h-16">
        <a class="text-base" routerLink="/consulta"> Consulta </a>
      </li>
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" class="h-16">
        <a routerLink="/cadastro" class="text-base"> Cadastro </a>
      </li>

      <li nz-submenu nzPlacement="topLeft" [nzTitle]="submenuTitle">
        <ng-template #submenuTitle>
          <span class="text-base"> Opções </span>
        </ng-template>

        <ul>
          <li (click)="restaure()" nzMatchRouter="true" nz-menu-item>
            <a class="text-base"> Restaurar clientes </a>
          </li>
          <li nzMatchRouter="true" nz-menu-item>
            <a
              class="text-base"
              href="https://github.com/renardbergson"
              target="_blank"
            >
              Desenvolvedor
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</nz-header>
