<nz-header id="header">
  <h1 id="logo">Cadastro de Clientes</h1>
  <div id="spacer" style="flex: 1;"></div>
  <nav id="navBar">
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="/consulta">
          Consulta
        </a>
      </li>
      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="/cadastro">
          Cadastro
        </a>
      </li>

      <li 
        nz-submenu 
        nzIcon="setting" 
        nzPlacement="topLeft"
      >
        <ul>
          <li nzMatchRouter="true" nz-menu-item>
            <span (click)="restaure()">Restaurar clientes</span>
          </li>
          <li nzMatchRouter="true" nz-menu-item>
            <a 
              href="https://github.com/renardbergson" 
              target="_blank"
            >
              Desenvolvedor
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</nz-header>